
.backgroundcolor {
    background-color: #000324;
}

.navtxtstyle {
    color: white;

}

.navtxtstyle :hover {
    border: 1px solid white;
    color: white;

}


.textcolorwhite{
    color: white;
}
.footLogo{
    width: 143;
}
.roomsBG{
    background-image: url("../assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.AmenitiesBG{
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 550px;
}
.AmenitiesTXT{
    margin-top:200px;
    padding: 50px;
    color:white
}
.menitiesfitting{
    width: 100px;
    height: auto;
}
.paddington{
    padding:50px;
}
.reserevedhamster{
    background-image: url("../assets/);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    background-position:center;
}
